
<body>
    <div class="container">
        <!-- Header -->
        <header class="text-center my-4">
            <h1>{{first_name}} {{last_name}}</h1>
            <p>{{email}}</p>
            <p>{{description}}</p>
        </header>
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="profileTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="songs-tab" data-bs-toggle="tab" href="#songs" role="tab" aria-controls="songs" aria-selected="true">Songs</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="instruments-tab" data-bs-toggle="tab" href="#instruments" role="tab" aria-controls="instruments" aria-selected="false">Instruments</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="gigs-tab" data-bs-toggle="tab" href="#gigs" role="tab" aria-controls="gigs" aria-selected="false">Gigs</a>
            </li>
        </ul>
        
        <!-- Tab panes -->
<div class="tab-content mt-4">
    <!-- Songs -->
    <div class="tab-pane active" id="songs" role="tabpanel" aria-labelledby="songs-tab">
        <form id="add-song-form">
            <h4>Add a song</h4>
            <input type="text" placeholder="Song name" name="song_name" required>
            <input type="text" placeholder="Genre" name="genre">
            <input type="text" placeholder="Song description" name="song_description">
            <input type="text" placeholder="Original author" name="original_author">
            <button type="submit" class="btn btn-primary">Add Song</button>
        </form>

        <div class="row">
            {{#each performed_songs}}
            <div class="col-md-4">
                <div class="card my-3">
                  <audio controls>
                    <source src="{{this.songs_url}}" type="audio/wav">
                    Your browser does not support the audio element
                    </audio>

                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">Genre: {{this.genre}}</p>
                        <p class="card-text">Description: {{this.description}}</p>
                        <p class="card-text">Original Author: {{this.original_author}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    
    <!-- Instruments -->
    <div class="tab-pane" id="instruments" role="tabpanel" aria-labelledby="instruments-tab">
        <div class="row">
            {{#each played_instruments}}
            <div class="col-md-4">
                <div class="card my-3">
                    <img src="{{this.instrument_image_url}}" class="card-img-top" alt="{{this.instrument_name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">Details: {{this.description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
            {{!-- Gigs --}}
            <div class="tab-pane" id="gigs" role="tabpanel" aria-labelledby="gigs-tab">
              <div class="row">
                {{#each gigs}}
                <div class="col-md-4">
                <div class="card my-3">
                
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">Details: {{this.description}}</p>
                        <p class="card-text">Location: {{this.location}}</p>
                        <p class="card-text">Date: {{this.date}}</p>
                    </div>
                </div>
                </div>
                {{/each}}
            </div>
            </div>
            </div>
            </div>
            </body>
